<section class="initial-registration">
	<div class="container">
		<div class="col-md-6">
			<div class="pro-container">
				<%= link_to "I am a professional", professional_register_path %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="nonpro-container">
				<%= link_to "I am a non-professional", new_user_registration_path %>
			</div>
		</div>
	</div>
</section>