<section id="hero-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="content-block">
            <h1 class="wow fadeInDown">Seembu</h1>
            <p class="wow fadeInDown hero-area-subtitle" data-wow-delay="0.3s"> Seek Inspiration | Meet Professionals | Build Dreams</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <h2 class="text-center"> Searching for something? </h2> </br>
              <%= search_form_for(@search, class: "text-center")  do |f| %>
                <fieldset class="search-form">
                  <%= f.text_field :title_or_room_or_location_or_style_or_size_or_project_type_cont, placeholder: "Modern, Manila, Living room?", type: "search", class: "search-input" %>
                  <%= button_tag(type: 'submit', class: "btn-search") do %>
                   <i class="fa fa-search"></i>
                  <% end %>
                </fieldset>
              <% end %>
        </div>
        </div>
      </div><!-- .row close -->
    </div><!-- .container close -->
  </section><!-- header close -->