<h1>Editing Project</h1>

<% if current_user.has_role? :Professional %>
	<%= render 'form_edit' %>
<% else %>
	<%= controller.redirect_to projects_path, alert: "We're sorry, we can't allow that." %>
<% end %>