<h1>New Project</h1>

<% if current_user.has_role? :Professional %>
	<%= render 'form' %>
<% else %>
	<%= controller.redirect_to projects_path, alert: "We're sorry, we can't allow that." %>
<% end %>
