.form-container {
  margin: auto;
}
.auth-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 750px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.auth-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.auth-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.auth-form button:hover,.auth-form button:active,.auth-form button:focus {
  background: #43A047;
}
.auth-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.auth-form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.auth-form .register-form {
  display: none;
}

section.form-section{
  height: 1200px;
  background-color: #539187 !important;
}

.checkbox_rememberme{
  width: 20px !important;
}

input.submit-action{
  transition: all linear 0.3s;
}

input.submit-action:hover{
  background-color: #539187 !important;
  color: #fff;
}

.btn-cancel{
  color: #000 !important;
}

.btn-cancel:hover{
  color: #fff !important;
}

.picture-upload{
  margin: 0;
  padding: 0;
  outline: none;
}

textarea#project_description, textarea#profile_description{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.auth-form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  /*width: 100%;*/
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
}

.form-label{
  position: relative;
  float: left;
}

.avatar-profile{
  position: relative;
  float: left;
}

.roles-fields-container{
  margin-top: 10px;
}

select#user_roles{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border-radius: 0;
    border: 0;
    margin: 0 0 25px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    height: 45px;
}

 select#project_size, select#project_project_type, select#profile_service, select#profile_sex{ 
  width: 100% !important;
  margin-bottom: 10px;
  height: 40px;
}

select#project_project_type, select#profile_sex{ margin-bottom: 30px; }

.birthdate-field{
  text-align: left !important;
}

.birthdate-field select{
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    font-size: 20px;
    height: 35px;
    width: 32%;
}

.form-label-profile{
  position: relative;
    float: left;
    width: 100%;
    text-align: left;
}