/*
*
		PROJECT SHOW PAGE
*
*/

.image-container{
  margin: 30px auto;
  transition: all 0.5s ease-in-out 0s; 
}

.image-container:hover{
  margin: 30px auto;
  cursor: zoom-in !important;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.8); 
}

.project-details-section{
  background-color: #fff;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
}

.project-details-section h2{ color: #539187; text-transform: uppercase; }

.user-case-container{
  position: relative;
  display: flex;
}

.user-case-details {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

span.fullname-user{ font-size: 15px; color: #539187; }
span.user-service { font-size: 12px; font-weight: bold; }

.btn-to-profile-in-show {
    color: #165B4F !important;
    border: 1px solid #165B4F !important;
    margin-top: 10px !important;
    transition: all 0.5s ease-in-out 0s;
}

a.btn.btn-default.btn-to-profile-in-show:hover {
  background-color: #165B4F;
  color: #fff !important;
}

.project-divider {
  border-top: 3px #539187 solid;
  width: 20%;
  position: relative;
  margin: 40px auto;
  left: 10px;
  margin-bottom: 40px;
}

h2.title-project { font-size: 30px !important; margin-top: 10px !important; overflow: hidden;}

.description strong{
  font-size: 16px;
  font-weight: lighter;
  color: #539187;
}

.project-description-show{
  color: #3b4045 !important;
}

.room-field-container{ position: relative;}

.room-field strong{
  font-size: 16px;
  color: #054137;
  font-weight: lighter;
  font-size: 14px;
}

.room-field{
  margin-bottom: 10px;
}

.divider-project-details{
  border-top: 3px #539187 solid;
  width: 10%;
  position: relative;
  margin: 40px 0;
}

.btn-edit-project-show{
  position: absolute;
  bottom: 40px;
  right: 1px;
  color: #165B4F !important;
  border: 1px solid #165B4F !important;
  margin-top: 10px !important;
  transition: all 0.5s ease-in-out 0s;
}

.btn-edit-project-show:hover{
    background-color: #165B4F !important;
    color: #fff !important;
}

.btn-delete-project-show{
  position: absolute;
  bottom: 1px;
  right: 1px;
  color: #B04652 !important;
  border: 1px solid #B04652 !important;
  margin-top: 10px !important;
  transition: all 0.5s ease-in-out 0s;
}

.btn-delete-project-show:hover{
    background-color: #8A212D !important;
    color: #fff !important;
}

.img-responsive{
  text-align: -webkit-center !important;
  text-align: center;
}

@media(max-width:500px){
  .average-review-rating {
    margin-top: 10px;
    font-size: 11px;
  }

  .btn-to-profile-in-show {
    color: #165B4F !important;
    border: 1px solid #165B4F !important;
    margin-top: 10px !important;
    transition: all 0.5s ease-in-out 0s;
    font-size: 12px !important;
  }
}

img.img-responsive {
    width: 100%;
}

@media(min-width:1001px){
  .service .icon-box .icon {
      background-color: #26282b;
      border-radius: 5px;
      display: inline-block;
      height: 75px;
      left: 40%;
      position: relative;
      top: 12px;
      width: 75px;
      -webkit-transform: rotate(50deg);
      -moz-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
      -o-transform: rotate(50deg);
      transform: rotate(50deg);
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #539187), color-stop(100%, #165B4F));
      background: -webkit-linear-gradient(-45deg, #539187 0%, #165B4F 100%);
      background: -o-linear-gradient(-45deg, #539187 0%, #165B4F 100%);
      background: -ms-linear-gradient(-45deg, #539187 0%, #165B4F 100%);
      background: linear-gradient(135deg, #539187 0%, #165B4F 100%);
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -khtml-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
  }
}

@media(min-width:700px) and (max-width:1000px){
  .service .icon-box .icon {
      background-color: #26282b;
      border-radius: 5px;
      display: inline-block;
      height: 75px;
      left: 45%;
      position: relative;
      top: 12px;
      width: 75px;
      -webkit-transform: rotate(50deg);
      -moz-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
      -o-transform: rotate(50deg);
      transform: rotate(50deg);
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #539187), color-stop(100%, #165B4F));
      background: -webkit-linear-gradient(-45deg, #539187 0%, #165B4F 100%);
      background: -o-linear-gradient(-45deg, #539187 0%, #165B4F 100%);
      background: -ms-linear-gradient(-45deg, #539187 0%, #165B4F 100%);
      background: linear-gradient(135deg, #539187 0%, #165B4F 100%);
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -khtml-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
  }
}

@media(min-width:600px) and (max-width:700px){
  .service .icon-box .icon {
      background-color: #26282b;
      border-radius: 5px;
      display: inline-block;
      height: 75px;
      left: 44%;
      position: relative;
      top: 12px;
      width: 75px;
      -webkit-transform: rotate(50deg);
      -moz-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
      -o-transform: rotate(50deg);
      transform: rotate(50deg);
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #539187), color-stop(100%, #165B4F));
      background: -webkit-linear-gradient(-45deg, #539187 0%, #165B4F 100%);
      background: -o-linear-gradient(-45deg, #539187 0%, #165B4F 100%);
      background: -ms-linear-gradient(-45deg, #539187 0%, #165B4F 100%);
      background: linear-gradient(135deg, #539187 0%, #165B4F 100%);
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -khtml-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
  }
}

@media(min-width:400px) and (max-width:600px){
  .service .icon-box .icon {
      background-color: #26282b;
      border-radius: 5px;
      display: inline-block;
      height: 75px;
      left: 40%;
      position: relative;
      top: 12px;
      width: 75px;
      -webkit-transform: rotate(50deg);
      -moz-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
      -o-transform: rotate(50deg);
      transform: rotate(50deg);
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #539187), color-stop(100%, #165B4F));
      background: -webkit-linear-gradient(-45deg, #539187 0%, #165B4F 100%);
      background: -o-linear-gradient(-45deg, #539187 0%, #165B4F 100%);
      background: -ms-linear-gradient(-45deg, #539187 0%, #165B4F 100%);
      background: linear-gradient(135deg, #539187 0%, #165B4F 100%);
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -khtml-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
  }
}

a.like-show.btn.pull-right {
  position: absolute;
  right: 20px;
  top: 40px;
}

button.btn.btn-like{
    color: #fff;
    background-color: rgba(46, 116, 104, 0.4);
    width: 100px;
    height: 40px;
    transition: all 0.2s ease-in;
}

button.btn.btn-like:hover, button.btn.btn-like:focus{
    color: #fff;
    background-color: rgb(46, 116, 104);
    width: 100px;
    height: 40px;
}

span.badge {
  background-color: #fff;
  color: #2E7468;
}

@media (min-width: 300px) and (max-width: 500px){

  a.like-show.btn.pull-right {
  position: absolute;
  right: 5px;
  top: 0px;
  }

  button.btn.btn-like{
    color: #fff;
    background-color: rgba(46, 116, 104, 0.4);
    transition: all 0.2s ease-in;
    width: initial;
    height: initial;
  }

  button.btn.btn-like:hover, button.btn.btn-like:focus{
    color: #fff;
    background-color: rgb(46, 116, 104);
    width: initial;
    height: initial;
  }
}

/*
*
		PROJECT INDEX PAGE
*
*/

.card {
	background: white;
	margin-bottom: 2em;	
}

@media (min-width: 300px) and (max-width: 950px){
  .card {
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }
}

.card span.hover {
	color: black;
	text-decoration: none !important;
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
}

.card span.hover:hover, .card span.hover:focus {
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.4);
	color: #165B4F;
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
}

.card-content p {
	font-size: 95%;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.thumbnail { border: none; padding: 0; margin-bottom: 0 !important; border: none !important; padding: 0 !important; position: relative !important;}

/* Flexbox styles */
@media screen and (min-width: 40em) {  
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
    /* width: calc(50% - 1em); */
  }
} /* mq 40em*/

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }
  
  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
    /* width: calc(33% - 1em); */
  }
} /* mq 60em*/

.btn-index{
	margin: 0 1px;
}

.user-details-container-index {
    margin: 10px;
}

// span.user-address-index, span.user-service-index{ color: #000;}

// span.user-address-index:hover, span.user-service-index:hover{ color: #165B4F;}

.btn-profile {
  padding: 3px 5px !important;
}

#hero-area .block {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 50px 18px;
    color: #fff;
}

.btn-trash, .btn-margin-top{
  margin-top: 5px;
}

.avatar-user-container{
  position: absolute;
  bottom: 3px;
  left: 3px;
}

.project-title-index { font-size: 20px; font-weight: lighter; text-transform: uppercase; }

.user-fullname { color: #000; font-size: 15px; }
span.fullname{ color: #165B4F; text-decoration: underline; }
span.fullname:hover { color: #165B4F; text-decoration: none;}

.btn-project-index-open {
  position: relative;
  color: #165B4F !important;
  border: 1px solid #165B4F !important;
  margin-top: 5px !important;
  transition: all 0.5s ease-in-out 0s;
}

a.btn.btn-default.btn-project-index-open:hover {
  background-color: #165B4F;
  color: #fff !important;
}

.utilities-project a{
  margin-right: 5px;
}

.pagination-index-container{
  position: relative;
}

.pagination {
  font-size: 19px;
  float: right;
}

a.like.btn.pull-right {
  position: absolute;
  right: 2px;
}